<!-- Modal -->
<div class="modal fade" id="playlistModal" tabindex="-1" aria-labelledby="playlistModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Playlist</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% for music in playlist %}
        <div class="d-flex justify-content-between align-items-center m-2 border-bottom rounded-bottom">
          <p class="my-auto">{{music.name}} - {{music.artist}}</p>
          <a href="{% url 'delete_music' music.id %}" class="btn btn-outline-danger"><i class="bi bi-trash"></i></a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>